
h2 {
  margin: 0 0 8px;
  font-size: 22px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-baseline {
    align-items: baseline;
}

section .d-flex a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.cards {
    margin: 0;
    padding: 6px 0 10px;
    display: grid;
    gap: 22px;
    justify-content: center;
    justify-items: center;
}

.vertodo {
    font-size: 40px;
    font-weight: 800;
    margin: 8px 0 16px;
    color: #202124;
}
